[Unit]
Description=Updates Nginx load balancer confing to juggle horizontally scaled digitalocean droplets
Requires=nginx.service
After=nginx.service

[Service]
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/python3 /usr/bin/horizontal_scaler/server.py